{%load static%}

{% block content %}
    <h1>Products</h1>
    <div class='row'>
        {% for product in products %}
            <div class='col'>
            <div class="card" style="width: 18rem;">
                <img src="{{product.image_url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.name}}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Rs.{{product.price}}</h6>
                  <p class="card-text">Here to Provide you with the Best🤗.</p>
                
                  <form action="{% url 'add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add to Cart</button>
                </form>
                  
                </div>
              </div>
        
            </div>
        {%endfor%}
    </div>
{% endblock %}